<div class="body" onload="return randomColor()">
  <div class="main d-flex justify-content-center align-items-center">
    <div class="innerDiv">

          <div class="img1 d-flex align-items-center">
              <img class="img" [src]="randomDetails.image" alt="no image">
          </div>
          <div class="detaisl text-center">
              <h4>{{randomDetails.firstName}} {{randomDetails.lastName}}</h4>
             <div class="detaisl" >
               <a><i style="color: blue;margin-right: 10px;" class="fa-solid fa-envelope"></i>{{randomDetails.email}}</a><br>
                <a><i style="color: blue;margin-right: 10px;" class="fa-solid fa-location-dot"></i>{{randomDetails.address.address}}</a>
             </div>
          </div>
          <div class="text-center mt-5">
              <button class="btn btn-primary " (click)="click()">Click Here to Get Random Profile</button><br>
          </div>
      
    </div>
  </div>
</div>
